<!DOCTYPE html>
<html>
<head>
	<title>美食</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/my/shop1.css">
	<!-- <link rel="stylesheet"  href="font-awesome-4.7.0\css\font-awesome.min.css "> -->
	<link href="__STATIC__/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
	<script type="text/javascript" src="__STATIC__/js/jquery-3.2.1.min.js"></script>

</head>
<body>
	<div class="heads">
		<img src="__STATIC__/img/shop/4.png" onclick="return souye()">

		<input type="text" placeholder=" 饮品" style="padding-left: 8%;">
		<i class="fa fa-search" style="position:absolute;left:20%;top: 16px; color: gray;font-size: 14px;"></i>
	</div>

	<div class="line2">
		——附近商家——
	</div>

	<div class="line3">
		<span>综合排序<i class="fa fa-angle-down"></i></span>
		<span>销量最高</span>  
		<span>距离最近</span>
		<span>筛选 <i class="fa fa-filter"></i></span>
		<div style="clear: both;"></div>
	</div>

	<div class="line4">
		<div class="line4-1">
			<img src="__STATIC__/img/shop/5.png" class="left">
			<div class="right">
				<div class="title">菠萝密奶茶（手抓饼)</div>
				<div class="data">	
					<div class="data-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star" style="color: #cccccc; margin-right: 4px;"></i> 月售809 
					</div>
				 	<div class="data-right"> 31分钟 | 53m</div>
				 	<div style="clear: both;"></div>
				</div>				
				<div class="data2">
				起送￥10 | 配送￥0 |人均￥7
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>

		<div class="line4-2">
			<img src="__STATIC__/img/shop/demo1.png" style="width:15px;vertical-align: middle;margin-bottom: 3px;">
			新用户立减5元，首次使用银行卡支付最高再减3元
		</div> 


	</div>
	<div class="line4">
		<div class="line4-1">
			<img src="__STATIC__/img/shop/6.png" class="left">
			<div class="right">
				<div class="title">湛江豪哥烧烤（生蚝、酒水）</div>
				<div class="data">	
					<div class="data-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star" style="color: #cccccc; margin-right: 4px;"></i> 月售293 
					</div>
				 	<div class="data-right"> 56分钟 | 1.6km</div>
				 	<div style="clear: both;"></div>
				</div>				
				<div class="data2">
				起送￥30 | 配送￥3 |人均￥34
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>

		<div class="line4-2">
			<img src="__STATIC__/img/shop/demo2.png" style="width:15px;vertical-align: middle;margin-bottom: 3px;">
			<span style="background-color:rgb(255,250,239); ">已有1张满68减5代金券</span> <br>
			<img src="__STATIC__/img/shop/demo3.png" style="width:15px;vertical-align: middle;margin-bottom: 3px;">
			满50减2；满80减4；满100减6
		</div> 


	</div>
	
	<div class="line4" onclick="return fanghui()">
		<div class="line4-1">
			<img src="__STATIC__/img/shop/7.png" class="left">
			<div class="right">
				<div class="title">冰爽榴芒</div>
				<div class="data">
					<div class="data-left"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star" style="color: #cccccc; margin-right: 4px;"></i>月售165 </div>
				 	<div class="data-right"> 30分钟 | 2.7km</div>
				 	<div style="clear: both;"></div>
				</div>				
				<div class="data2">
				起送￥15 | 配送￥3 |人均￥20
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>

		<div class="line4-2">
			<img src="__STATIC__/img/shop/demo3.png" style="width: 15px;vertical-align: middle;margin-bottom: 5px;margin-right: 4px;margin-left: 2px;">满20减2；满30减3；满50减7<br>
			<img src="__STATIC__/img/shop/demo1.png" style="width: 15px;vertical-align: middle;margin-bottom: 5px;margin-right: 3px;">折扣商店7.5折起
		</div> 


	</div>
	<div class="line4">
		<div class="line4-1">
			<img src="__STATIC__/img/shop/8.png" class="left">
			<div class="right">
				<div class="title">顺园饭店</div>
				<div class="data">
					<div class="data-left"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star" style="color: #cccccc; margin-right: 4px;"></i>月售1863 </div>
				 	<div class="data-right"> 57分钟 | 1.8km</div>
				 	<div style="clear: both;"></div>
				</div>				
				<div class="data2">
				起送￥8 | 配送￥0 |人均￥8
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>

		<div class="line4-2">
			<img src="__STATIC__/img/shop/demo1.png" style="width: 15px;vertical-align: middle;margin-bottom: 5px;margin-right: 3px;">新用户立减5元，首次使用银行卡支付最高再减3元
		</div> 


	</div>
	<div class="line4">
		<div class="line4-1">
			<img src="__STATIC__/img/shop/3.jpg" class="left">
			<div class="right">
				<div class="title">美味源饭店</div>
				<div class="data">
					<div class="data-left"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star" style="color: #cccccc; margin-right: 4px;"></i>月售1000</div>
				 	<div class="data-right"> 31分钟 | 500m</div>
				 	<div style="clear: both;"></div>
				</div>				
				<div class="data2">
				起送￥8 | 配送￥0 |人均￥8
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>

		<div class="line4-2">
			<img src="__STATIC__/img/shop/demo1.png" style="width: 15px;vertical-align: middle;margin-bottom: 5px;margin-right: 3px;">新用户立减6元，首次使用银行卡支付最高再减4元
		</div> 


	</div>
	<div style="height: 42px;"></div>
	<div class="line5">
		<a href=""><i class="fa fa-home"></i><br>首页</a>
		<a href=""><i class="fa fa-reorder"></i><br>订单</a>
		<a href=""><i class="fa fa-th-large"></i><br>更多</a>
		<div style="clear: both;"></div>
	</div>

	<script type="text/javascript">
		function fanghui(){
			window.location.href = "{:url('index/product/products')}";
		}
		function souye(){
			window.location.href = "{:url('index/login/index')}";
		}
		</script>
	



</body>
</html>