<!DOCTYPE html>
<html>
<head>
	<title>订单</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/da.css">
	<link rel="stylesheet" href="__STATIC__/fonts/font-awesome-4.7.0\font-awesome-4.7.0\css\font-awesome.min.css">
</head>
<body>
  <div class="line1">
    <a href="{:url('index/products/index')}"><</a>
    <span>订单详情</span>
    <img src="__STATIC__/img/upload/gz.png">
  </div>

  <div class="line2">
    <img src="__STATIC__/img/upload/pan.png">
    <span class="p">顺园饭店</span>
    <a href="">></a>
  </div>


  <div class="line3">
    <img src="__STATIC__/img/upload/xgdj.jpg">
   <div>
    <span class="o">香菇焖鸡+青菜</span>
    <span class="i">&yen10</span><br>
    <span class="u">x1</span>
    <div style="clear: both;"></div>
   </div>
   </div>



    <div class="line4">
    	<img src="__STATIC__/img/upload/mtwm.png">
	   <div>
	    <span class="o">青菜肉片汤</span>
	    <span class="i">&yen4</span><br>
	    <span class="u">x1</span>
	    <div style="clear: both;"></div>
	   </div>
	</div>


	<div class="line5">
	    <span class="y">配送费</span>
	    <span class="t">&yen0</span>
	    <div style="clear: both;"></div>
    </div>


    <div class="line6">
        <img src="__STATIC__/img/upload/jian.png">
        <span class="q">满减优惠</span>
        <span class="w">-&yen1</span>
        <div style="clear: both;"></div>
    </div>


    <div class="line7">
        <span class="ap">总计&yen14      优惠&yen1</span>
        <span class="ao">实付</span><span class="ai">&yen13</span>
        <div style="clear: both;"></div>
    </div>
        <div class="white-line"></div>
    
    <div class="line8">
        <i class="fa fa-phone"></i>
        <span>联系商家</span>
        <div style="clear: both;"></div>
    </div>


    <div class="line9">
        <span class="au">期望时间</span>
        <span class="ay">立即配送</span>
        <div style="clear: both;"></div>
    </div>


<div class="line10">
     <div  class="left">
       <span>配送地址</span> 
     </div>
     <div class="right">
        <span>曾（先生）13750528354</span><br>
        <span>嘉应学院-继续教育学院（南门笨笨熊杂货铺正对面（楼底在背后），短号627952）</span>
     </div>
        <div style="clear: both;"></div>
</div>


    <div class="line11">
        <span class="aw">配送服务</span>
        <span class="aq">由  商家  提供配送服务</span>
        <div style="clear: both;"></div>
    </div>



        <div class="line12">
        <span class="al">订单号码</span>
        <span class="ak">5426 7321 7318 1193</span>
        <button class="aj">复制</button>
        <div style="clear: both;"></div>
    </div>



    <div class="line13">
        <span class="ah">订单时间</span>
        <span class="ag">2017-07-11  17:42:49</span>
        <div style="clear: both;"></div>
     </div>


     <div class="line14">
        <span class="af">支付方式</span>
        <span class="ad">在线支付</span>
        <a href="" style="    background: rgb(255,186,12);
                              padding: 7px 27px;
                              text-decoration: none;
                              float: right;
                              font-weight: bold;
                              color: black;">微信支付</a>
                                  <div style="clear: both;"></div>
     </div>


</body>
</html>