<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/a.css">
	<link rel="stylesheet" href="__STATIC__/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="head">
    <a href="{:url('index/products/index')}" style="text-decoration: none;">
       <img src="__STATIC__/img/upload/jb.png" >
    </a>
       <div class="search">
         <i class="fa fa-search" ></i>
         <input type="text" placeholder="饮品"> 
    </div>
    </div> 
    <div class="line2">
         一一附近商家一一
     </div>
     <div class="line3">
         <span>综合排序  <i class="fa fa-angle-down"></i></span>
         <span>销量最高</span>
         <span>距离最远</span>
         <span>筛选 <i class="fa fa-filter"></i></span>
         <div style="clear: both;"></div>
      </div>
 	<div class="line4">
     	<div class="line4-1">
       		<img class="left" src="__STATIC__/img/upload/blm.jpg">
        	<div class="right">
           		<div class="title">菠萝蜜奶茶（手抓饼）</div>
           		<div class="data">
           			<div class="data-left">
           			<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star" style="color: gray"></i>月售809
           			</div>
           			<div class="data-right">
           			31分钟|53m
           			</div>
           			<div style="clear: both;"></div>
        		</div >
           		<div class="data2">
           		起送&yen;10|配送&yen;0|人均&yen;7
           		</div>
      		</div>
        	<div style="clear: both;"></div> 	
     	</div> 
        <div class="line4-2">
        <img src="__STATIC__/img/upload/shou.png">
        新用户立减5元，首次使用银行卡支付支付最高再减3元
        </div>
	</div>
    <div class="line4">
     	<div class="line4-1">
       		<img class="left" src="__STATIC__/img/upload/sh.jpg">
        	<div class="right">
           		<div class="title">湛江豪哥烧烤（生蚝、酒水）</div>
           		<div class="data">
           			<div class="data-left">           		
           			<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star" style="color: gray"></i>月售293
           			</div>
           			<div class="data-right">
           			56分钟|1.6Km
           			</div>
           			<div style="clear: both;"></div>
        		</div>
           		<div class="data2">
           		    起送&yen;30|配送&yen;3|人均&yen;34
           		</div>
      		</div>
        	<div style="clear: both;"></div> 	
     	</div> 
        <div class="line4-2">
           <img src="__STATIC__/img/upload/juan.png">已有一张满68减5代金券<br>
        <span class="l"><img src="jian.png">满50减2；满80减4；满100减6</span>
       </div>
        <div class="line4">
     	<div class="line4-1">
       		<img class="left" src="__STATIC__/img/upload/bs.jpg">
        	<div class="right">
           		<div class="title">冰爽榴芒</div>
           		<div class="data">
           			<div class="data-left">
           			<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-full" style="color: orange"></i>月售165
           			</div>
           			<div class="data-right">
           			30分钟|2.7Km
           			</div>
           			<div style="clear: both;"></div>
        		</div >
           		<div class="data2">
           		起送&yen;15|配送&yen;3|人均&yen;20
           		</div>
      		</div>
        	<div style="clear: both;"></div> 	
     	</div> 
        <div class="line4-2">
        <p><img src="__STATIC__/img/upload/jian.png">满20减2；满30减3；满40减5；满50减7</p>
        <p class="p"><img src="__STATIC__/img/upload/zhe.png">折扣商品7.5折起</p>

        </div>
	</div>
	<div class="line4">
     	<div class="line4-1">
       		<img class="left" src="__STATIC__/img/upload/jd.jpg">
        	<div class="right">
           		<div class="title">顺园饭店</div>
           		<div class="data">
           			<div class="data-left">
           			<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star" style="color: gray"></i>月售1863
           			</div>
           			<div class="data-right">
           			57分钟|1.8Km
           			</div>
           			<div style="clear: both;"></div>
        		</div >
           		<div class="data2">
           		起送&yen;8|配送&yen;0|人均&yen;8
           		</div>
      		</div>
        	<div style="clear: both;"></div> 	
     	</div> 
        <div class="line4-2">
        新用户立减5元，首次使用银行卡支付支付最高再减3元
        </div>
       <div class="line4">
             <div class="line4-1">
          <img class="left" src="__STATIC__/img/upload/blm.jpg">
          <div class="right">
              <div class="title">菠萝蜜奶茶（手抓饼）</div>
              <div class="data">
                <div class="data-left">
                月售809
                </div>
                <div class="data-right">
                31分钟|53m
                </div>
                <div style="clear: both;"></div>
            </div >
              <div class="data2">
              起送&yen;10|配送&yen;0|人均&yen;7
              </div>
          </div>
          <div style="clear: both;"></div>  
      </div> 
        <div class="line4-2">
        <img src="__STATIC__/img/upload/shou.png">
        新用户立减5元，首次使用银行卡支付支付最高再减3元
        </div>
  </div>
  <div class="line4">
      <div class="line4-1">
          <img class="left" src="__STATIC__/img/upload/blm.jpg">
          <div class="right">
              <div class="title">菠萝蜜奶茶（手抓饼）</div>
              <div class="data">
                <div class="data-left">
                月售809
                </div>
                <div class="data-right">
                31分钟|53m
                </div>
                <div style="clear: both;"></div>
            </div >
              <div class="data2">
              起送&yen;10|配送&yen;0|人均&yen;7
              </div>
          </div>
          <div style="clear: both;"></div>  
      </div> 
        <div class="line4-2">
        <img src="__STATIC__/img/upload/shou.png">
        新用户立减5元，首次使用银行卡支付支付最高再减3元
        </div>
  </div>
  </div>
    <div style="height: 42px"></div>
  <div class="line5">
       <a href=""><i class="fa fa-home" style="color: orange;"></i><br>首页</a>
       <a href=""><i class="fa fa-reorder"></i><br>订单</a>
       <a href=""><i class="fa fa-th-large"></i><br>更多</a>
       <div style="clear: both;"></div>

  </div>

	</div>

</body>
</html> 